@font-face {
  font-family: 'Roboto';
  src: local('Roboto'), url(./fonts/Roboto-Regular.ttf) format('truetype');
}


body {
  margin:0px;
  padding:0px; 

}
.headDiv {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: rgb(245, 243, 243);
  padding: 10px;
}
.refreshButton{
    background-color: green;
    border: none;
    margin-left: 250px;
    margin-bottom: 20px;
    border-radius: 3px;
    margin-top: 10px;
}
.itemsDiv {
  color: white;
  width: 40px;
  height: 20px;
  background-color: steelblue;
  border-radius: 10px;
  text-align: center;
  line-height: 20px;
  margin-left: 20px;
  margin-right: 20px;

}
.countDiv {
  background-color: #3498db;
  width: 30px;
  color: white;
  font-size: 18px;
  height: 30px;
  line-height: 30px; 
  text-align: center;
}
.zeroDiv{
  background-color: rgb(245, 195, 31);
  color: black;
  font-family: "Roboto";
  font-weight: bold;
  padding: 5px;
  border-radius: 3px;
}
.buttonDiv {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 250px;
  margin-bottom: 20px;
}
button {
  padding: 8px;
  margin-left: 20px;
  border-radius: 3px;
}
